<div ng-app="myApp" ng-controller="myCtrl" ng-cloak>
    <div>
        <h3 class="cont-title">酒店信息</h3>
        <input type="hidden" ng-model="m.HotelSupplierSourceId" disabled />
        <input type="hidden" ng-model="m.HotelSupplierSourceName" disabled />
        <input type="hidden" ng-model="m.HotelRoomRuleName" disabled />
        <div class="lay-row">
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>酒店名称</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="m.HotelName" disabled />
                </div>
            </div>
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>酒店ID</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="m.HotelId" disabled />
                </div>
            </div>
        </div>
        <div class="lay-row">
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>供应商名称</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="m.HotelSupplierName" disabled />
                </div>
            </div>
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>供应商ID</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="m.HotelSupplierId" disabled />
                </div>
            </div>
        </div>
        <div class="lay-row">
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>预定房型</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="m.HotelRoomName" disabled />
                </div>
            </div>
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>房型ID</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="m.HotelRoomId" disabled />
                </div>
            </div>
        </div>
        <div class="lay-row">
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>确认方式</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="m.HotelSupplierSubWay" disabled />
                </div>
            </div>
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>传真号/邮箱</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="m.HotelSupplierLinkMail" disabled />
                </div>
            </div>
        </div>
    </div>
    <div>
        <h3 class="cont-title">订单信息</h3>
        <div class="lay-row">
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>入住人</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" id="cusname" ng-model="o.HOCustomerName" />
                </div>
                <input type="button" class="lay-btn lay-btn-primary" value="复制" ng-click="Copy()">
            </div>
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>入住人手机号</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" id="cusmobile" ng-model="o.HOCustomerMobile" />
                </div>
            </div>
        </div>
        <div class="lay-row">
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>入住/离店</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" id="txtDate" ng-model="o.HOCheckInDate" disabled />
                </div>
            </div>
            <div class="lay-form-item lay-col-6">
                <div class="lay-form-item-caption">
                    <label>最晚到店时间</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="o.HOLastCheckInTime" />
                </div>
            </div>
        </div>
        <div class="lay-row">
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>成人</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" type="number" ng-model="o.HOAdult" />
                </div>
            </div>
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>儿童</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" type="number" ng-model="o.HOChild" />
                </div>
            </div>
        </div>
        <div class="lay-row">
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>房型政策</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="m.HotelRoomName" disabled />
                </div>
            </div>
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>早餐政策</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="m.HotelRoomBreakfastRuleName" disabled />
                </div>
            </div>
        </div>
        <div class="lay-row">
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>房间数</label>
                </div>
                <div class="lay-form-item-control">
                    <input id="num" class="lay-input  long-input" ng-model="o.HORoomCount" />
                </div>
            </div>
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>总间夜</label>
                </div>
                <div class="lay-form-item-control">
                    <input id="yetnum" class="lay-input  long-input" ng-model="o.NightCount" disabled />
                </div>
            </div>
        </div>
        <div class="lay-row">
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>酒店卖价</label>
                </div>
                <div class="lay-form-item-control mss">
                    <input id="sellprice" class="lay-input  long-input" ng-model="m.HoteRoomRuleSellPrice" disabled />
                    <div class="tpc">
                        <div id="diysellprice" class="tableContain">
                        </div>
                    </div>

                </div>
            </div>
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>酒店结算价</label>
                </div>
                <div class="lay-form-item-control mss">
                    <input id="contractprice" class="lay-input  long-input" ng-model="m.HoteRoomRuleContractPrice" disabled />
                    <div class="tpc">
                        <div id="diycontractprice" class="tableContain">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lay-row">
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>订单总价</label>
                </div>
                <div class="lay-form-item-control">
                    <input id="totalsell" class="lay-input  long-input" ng-model="o.HOSellPrice" disabled />
                </div>
            </div>
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>结算总价</label>
                </div>
                <div class="lay-form-item-control">
                    <input id="totalcontract" class="lay-input  long-input" ng-model="o.HOContractPrice" disabled />
                </div>
            </div>
        </div>
        <div class="lay-row">
            <div class="lay-form-item lay-col-6">
                <div class="lay-form-item-caption">
                    <label>客人特殊要求</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="o.HORemark" />
                </div>
            </div>
            <div class="lay-form-item lay-col-6">
                <div class="lay-form-item-caption">
                    <label>第三方订单号</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="o.HOOutSerialId" />
                </div>
            </div>
        </div>
        <div class="lay-row">
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>预定联系人</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" id="linkname" ng-model="o.HOLinkerName" />
                </div>
            </div>
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>联系人手机号</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" id="linkmobile" ng-model="o.HOLinkerMobile" />
                </div>
            </div>
        </div>
        <div class="lay-row">
            <div class="lay-form-item lay-col-6">
                <div class="lay-form-item-caption">
                    <label>来单渠道1</label>
                </div>
                <div class="lay-form-item-control">
                    @*<input class="lay-input  long-input" ng-model="o.HOPlat1" ng-options="item.Type as item. Name for item in config.SourceOne"/>*@
                    <select class="lay-select lay-input" ng-model="o.HOPlat1" ng-options="item.Type as item. Name for item in config.SourceOne">
                        <option value="" selected hidden>
                    </select>
                </div>
            </div>
            <div class="lay-form-item lay-col-6">
                <div class="lay-form-item-caption">
                    <label>来单渠道2</label>
                </div>
                <div class="lay-form-item-control">
                    @*<input class="lay-input  long-input" ng-model="o.HOPlat2" />*@
                    <select class="lay-select lay-input" ng-model="o.HOPlat2" ng-options="item.Code as item. Name for item in config.SourceTwo">
                        <option value="" selected hidden>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="lay-form-foot">
        <input type="button" class="lay-btn lay-btn-primary" value="保存" ng-click="Save()">
    </div>
</div>
<input id="hid" type="hidden" value="@ViewBag.HotelId" />
<input id="hroomid" type="hidden" value="@ViewBag.RoomId" />
<input id="hruleid" type="hidden" value="@ViewBag.RuleId" />
<input id="hsupplierid" type="hidden" value="@ViewBag.SupplierId" />
<input id="hidate" type="hidden" value="@ViewBag.Indate" />
<input id="sellprice" type="hidden" />
<input id="contractprice" type="hidden" />
@section foot{
    <style>
        .tableContain {
            display: flex !important;
        }

        .tpc {
            display: none;
        }

        .mss:hover .tpc {
            display: block;
        }
    </style>

    <script>

        var mobileReg = /^1(3|4|5|7|8|9)\d{9}$/;
        var telReg = /^(\d{3,4}-?)?\d{7,9}$/;
        var emailReg = /\w+([-+.]\w+)*@@\w+([-.]\w+)*\.\w+([-.]\w+)*/;
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.config = {
                detailUrl: "/hotel/getorderneedinfo/",
                distributorUrl: "/distributor/getdistributor/",
                priceUrl: "/order/getpricelist/",
                saveUrl: "/order/save/",
                SourceTwo: [{ Code: -1, Name: "请选择" }],
                SourceOne: [{
                    Type: 1,
                    Name: "OTA"
                }, {
                    Type: 2,
                    Name: "新媒体"
                }, {
                    Type: 3,
                    Name: "旅行社"
                }, {
                    Type: 4,
                    Name: "线下"
                }]
            };
            $scope.id = $('#hid').val();
            $scope.roomid = $('#hroomid').val();
            $scope.ruleid = $('#hruleid').val();
            $scope.supplierid = $('#hsupplierid').val();
            $(function () {
                $scope.pageInit();
            });
            //初始化
            $scope.pageInit = function () {
                $scope.getHotel($scope.id, $scope.roomid, $scope.ruleid, $scope.supplierid)
                $("#txtDate").val($('#hidate').val());
                laydate.render({
                    elem: '#txtDate',
                    range: '~'
                })
                $scope.getPrice();
                $("#num").bind("input propertychange", function () {
                    if ($('#txtDate').val() != '') {
                        var date = $('#txtDate').val().split('~');
                        var start = new Date(date[0]);
                        var end = new Date(date[1]);
                        var nDays = Math.abs(parseInt((end - start) / 1000 / 3600 / 24)) * $("#num").val();
                        //$("#yetnum").val() = nDays > 0 ? nDays : 1;
                        $("#yetnum").val(nDays);
                        var totalsell = $("#sellprice").val() * $("#yetnum").val()
                        var totalcontract = $("#contractprice").val() * $("#yetnum").val()
                        $("#totalcontract").val(totalcontract.toFixed(2));
                        $("#totalsell").val(totalsell.toFixed(2));
                        $scope.o.HOContractPrice = $("#totalcontract").val();
                        $scope.o.HOSellPrice = $("#totalsell").val();
                        $scope.o.HONight = nDays > 0 ? nDays : 0;
                    }

                });
                $scope.getDistributor();
            }

            //获取价格
            $scope.getPrice = function () {
                var url = $scope.config.priceUrl;
                var date = $('#txtDate').val().split('~');
                Untitl.Get(url, { "rrid": $('#hruleid').val(), "begin": date[0], "end": date[1] }, function (data) {
                    if (data != null && data.length > 0) {
                        var sellprice = 0;
                        var contractprice = 0;
                        for (var i = 0; i < data.length; i++) {
                            sellprice += data[i].HRPSellPrice;
                            contractprice += data[i].HRPContractPrice;
                        }
                        $("#sellprice").val(sellprice);
                        $("#contractprice").val(contractprice);
                        var divsellprice = "";
                        var divcontractprice = "";
                        for (var i = 0; i < data.length; i++) {
                            var date = eval(data[i].HRPDate.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"));
                            var time = date.toLocaleDateString();
                            divsellprice += "<table class='lay-table'><tr class='lay-table td'><td>" + time + "</td></tr><tr class='lay-table td'><td>" + data[i].HRPSellPrice + "</td></tr></table>"
                            divcontractprice += "<table class='lay-table'><tr class='lay-table td'><td>" + time + "</td></tr><tr class='lay-table td'><td>" + data[i].HRPContractPrice + "</td></tr></table>"
                        }
                        ////var noApplicationRecord = document.getElementById('diydiv')
                        document.getElementById('diysellprice').innerHTML = divsellprice;
                        document.getElementById('diycontractprice').innerHTML = divcontractprice;
                    }
                    $scope.$apply();
                }, function () {
                    console.log("err-getDistributor");
                })
            }

            //获取分销商
            $scope.getDistributor = function () {
                var url = $scope.config.distributorUrl;
                Untitl.Get(url, { "IsValid": 1, "isDefault": 0 }, function (data) {
                    $scope.config.SourceTwo = data;
                    $scope.$apply();
                }, function () {
                    console.log("err-getDistributor");
                })
            }

            //获取酒店详情
            $scope.getHotel = function (hid, roomid, ruleid, supplierid) {
                if (!hid || hid <= 0 && !roomid || roomid <= 0 && !ruleid || ruleid <= 0 && !supplierid || supplierid <= 0) return;
                $.ajax({
                    url: $scope.config.detailUrl + "?hotelid=" + hid + "&roomid=" + roomid + "&rooleid=" + ruleid + "&supplierid=" + supplierid,
                    type: 'get',
                    dataType: "json",
                    timeout: 20000,
                    success: function (data) {
                        if (data != null && data.HotelId > 0) {
                            $scope.m = data;
                        }
                        $scope.$apply();
                    },
                    error: function () {
                        console.log("err-getDetail");
                    },
                    complete: function () {
                        eLoading.hide();
                    }
                });
            }

            //复制
            $scope.Copy = function () {
                if ($("#cusname").val() == "" || $("#cusmobile").val() == "") {
                    eMsg({
                        timer: 2000,
                        text: '请完善入住人信息！'
                    });
                    return;
                }
                $("#linkname").val($("#cusname").val());
                $("#linkmobile").val($("#cusmobile").val());
                //var name=$("#linkname").val();
                //var mobile=$("#linkmobile").val();
                $scope.o.HOLinkerName = $("#linkname").val();
                $scope.o.HOLinkerMobile = $("#linkmobile").val();
            }

            //保存
            $scope.Save = function () {
                var c = $scope.checkData($scope.m, $scope.o);
                if (!c) return;
                eLoading.show();
                debugger;
                if ($('#txtDate').val() != '') {
                    var date = $('#txtDate').val().split('~');
                    console.log(date);
                    console.log(date[0]);
                    console.log(date[1]);
                    $scope.o.HOCheckInDate = date[0];
                    $scope.o.HOCheckOutDate = date[1];
                }
                $.ajax({
                    url: $scope.config.saveUrl,
                    type: 'post',
                    dataType: "json",
                    data: { "hotelmodel": $scope.m, "ordermodel": $scope.o },
                    timeout: 20000,
                    success: function (data) {
                        if (data != null && data.IsSuccess > 0) {
                            $scope.m.Id = data.AddId;
                            eMsg({
                                timer: 2000,
                                text: '操作成功，正在自动关闭页面！'
                            });
                            //关闭页面
                            setTimeout(function () { $(parent.document).find('#btnSearch').click(); }, 1000);
                        }
                        else {
                            var msg = data ? data.Msg : "";
                            eMsg({
                                timer: 2000,
                                text: '操作失败,' + msg
                            });
                        }
                        $scope.$apply();
                    },
                    error: function () {
                        console.log("err-save");
                    },
                    complete: function () {
                        eLoading.hide();
                    }
                });
            }

            //数据验证
            $scope.checkData = function (m, o) {
                if (o == null) {
                    eMsg({
                        timer: 2000,
                        text: '请输入相关信息'
                    });
                    return false;
                }
                console.log(m);
                console.log(o);
                if (o.HOCustomerName == null || o.HOCustomerName.length <= 0) {
                    eMsg({
                        timer: 2000,
                        text: '入住人姓名不能为空！'
                    });
                    return false;
                }
                if (o.HOLinkerName == null || o.HOLinkerName.length <= 0) {
                    eMsg({
                        timer: 2000,
                        text: '联系人姓名不能为空！'
                    });
                    return false;
                }
                if ($('#txtDate').val() == null && $('#txtDate').val().length <= 0) {
                    eMsg({
                        timer: 2000,
                        text: '入住/离店时间不能为空！'
                    });
                    return false;
                }
                //debugger;
                //if (o.HOCheckInDate == null || o.HOCheckInDate.length <= 0) {
                //    eMsg({
                //        timer: 2000,
                //        text: '入住时间不能为空！'
                //    });
                //    return false;
                //}
                //if (o.HOCheckOutDate == null || o.HOCheckOutDate.length <= 0) {
                //    eMsg({
                //        timer: 2000,
                //        text: '离店时间不能为空！'
                //    });
                //    return false;
                //}
                //if (o.HOLastCheckInTime == null || o.HOLastCheckInTime.length <= 0) {
                //    eMsg({
                //        timer: 2000,
                //        text: '最晚到店时间不能为空！'
                //    });
                //    return false;
                //}
                if (o.HOAdult == null || o.HOAdult < 0) {
                    eMsg({
                        timer: 2000,
                        text: '成人数不能为空！'
                    });
                    return false;
                }
                if (o.HOChild == null || o.HOChild < 0) {
                    eMsg({
                        timer: 2000,
                        text: '儿童数不能为空！'
                    });
                    return false;
                }
                if (o.HORoomCount == null || o.HORoomCount <= 0) {
                    eMsg({
                        timer: 2000,
                        text: '房间数不能为空！'
                    });
                    return false;
                }
                if (o.HOCustomerMobile == null || o.HOCustomerMobile.length > 0 && !mobileReg.test(o.HOCustomerMobile) && !telReg.test(o.HOCustomerMobile)) {
                    eMsg({
                        timer: 2000,
                        text: '入住人手机号格式不正确！'
                    });
                    return false;
                }
                if (o.HOLinkerMobile == null || o.HOLinkerMobile.length > 0 && !mobileReg.test(o.HOLinkerMobile) && !telReg.test(o.HOLinkerMobile)) {
                    eMsg({
                        timer: 2000,
                        text: '联系人手机号格式不正确！'
                    });
                    return false;
                }
                return true;
            }
        });
    </script>
}
